- name: APT | Tools
  apt: name={{ item }}
  with_items:
    - htop
    - nload
    - ethstatus
    - vim
    - bash-completion
    - nmap
    - tcpdump
    - unzip
    - pbzip2
  when: ansible_pkg_mgr == "apt"
- name: Copy profile for root
  copy: "src=\".{{ item }}\" dest=/root/.{{ item }} owner=root group=root mode=\"u=rw,g=r,o=r\""
  with_items:
    - profile
    - bashrc
    - vimrc

